include components/commonHeader.pug

main
  section#saved_birds
    button#returnButton Volver 
       i.fa.fa-history
    each indvData in data ? data : [] 
      .generalContent
        h5.allids= indvData.id
        .flex.dataBird
          div
            h2= indvData.nombreAve   
          div     
            h4= indvData.especie
          div
            p= indvData.fechaentrada
          div
            p= indvData.modo
          div
            p= indvData.localidad
          div
            p= indvData.pesoentrada
        .allbirdsButton.flex
          button.pesos Añadir nuevo peso
          .changeButtons.flex
            button Modificar registro
            button Dar de alta pajarillo



  //- Modal      
  #myModal.modal.modal2.invisible
    .modal-content
      .flex.headm
        h6= "Tabla de pesos de " + nombreAve

        span#closeButton.close &times;
      .flex.initialWeight
        div
          p Peso de entrada
            span= fechaentrada
        .box
          p= pesoentrada
      each birdweigth in selectData ? selectData : [] 
        .flex
          .newWeight
            p= birdweigth
      .flex
        form(action="/addneweight" method="post")
          input(type="hidden" value=id name="birdId")
          .flex
            div
              label(for="date") Fecha peso:
              br
              input#date(type="date" name="date")
            div
              label(for="neweigth") Nuevo peso:
              br
              input#neweigth(type="text" name="neweigth" placeholder="gr.")
              button(type="submit") Añadir


include components/scripts.pug
