include components/commonHeader.pug

main
  section#principal_section
    div.principal_buttons.width_control
      div.flex
        button.active Inicio de sesión
        button Registro de usuario
      div#initsection.inputsecction
        form(action="/login" method="post")
          input(type="email" name="loginEmail" placeholder="Email")
          input( type="text" , name="loginPassword" placeholder="Contraseña")
          input(type="submit" value="Iniciar sesión")
      div#loginsection.inputsecction.invisible
        form(action="/newregister" method="post")
          input(type="text" name="registerName" placeholder="Nombre completo")
          input(type="email" name="registerEmail" placeholder="Email")
          input(type="text" name="registerPassword" placeholder="Contraseña")
          input(type="submit" value="Registrarme")
    div#noregister_section
      div.width_control
        div.flex
          div.smile_face
            img(src='../images/no_register_img.png' alt='')
          div.subdiv
            h3 Inscripción sin registro
            p Si no te quieres hacer cuenta pero deseas inscribir a tu Vencejo no te preocupes, te lo ponemos facil, lo puedes hacer sin problema pinchando en el botón de abajo.
        div.principal_buttons.complete
          button Inscribir
  section#user_section
    .headsection
      .width_control.flex
        #imgcontrolSect
          img(src= userData.img, alt="")
        #nameSection
          h2 Bienvenido
          h3= userData.name          
          .flex
            button#edit 
              i.fa.fa-pencil
            button#delete
              i.fa.fa-trash
            form(action="/closesesion" method="post")
              button#closeSeccion Cerrar sesión 
                i.fa.fa-power-off 
    .buttonsection
      button#new_register_button Nuevo registro
      button#management_button Gestionar guardados  

  section#new_register.invisible
    .bigContent
      h3 Nuevo registro
      span#close_new_register.close &times;
      hr
      form(action="/birdregister" method="post")
        label(for="especie") Especie:
        input#especie(type="text" name="especie" required)
        label(for="nombre") Nombre/Alias:
        input#nombre(type="text" name="nombreAve" required)
        h4 Datos de entrada
        label(for="fechaEntrada") Fecha de entrada:
        input#fechaEntrada(type="date" name="fechaentrada" required)
        label(for="modo") Modo de entrada:
        input#modo(type="text" name="modo")
        label(for="pesoEntrada") Peso inicial:
        input#pesoEntrada(type="number" name="pesoentrada" required)
        label(for="localidadP") Localidad de procedencia:
        input#localidadP(type="text" name="localidad")
        p Al guardar este pajarillo se añadirá de forma automática a tus registros que podrás gestionar en el apartado de GESTIONAR GUARDADOS
        .flex
          button#descartar Descartar
            i.fa.fa-trash
          button#guardar(type="submit") Guardar
            i.fa.fa-save 

  section#saved_birds.invisible
    button#returnButton Volver 
      i.fa.fa-history
    each indvData in allBirdsData ? allBirdsData : []
      .generalContent
        h5.allids= indvData.id
        .flex.dataBird
          div
            h2= indvData.nombreAve   
          div     
            h4= indvData.especie
          div
            p= indvData.fechaentrada
          div
            p= indvData.modo
          div
            p= indvData.localidad
          div
            p Peso inicial
            p= indvData.pesoentrada + " gr." 
          div 
            each birdweigth in indvData.pesos ? indvData.pesos : []
              p= birdweigth
        .allbirdsButton.flex
          button.pesos Añadir nuevo peso
          .changeButtons.flex
            button Modificar registro
            button.altas Dar de alta pajarillo

  section#final_register.invisible
    .bigContent
      h3 Dar de alta
      span#close_new_register.close &times;
      hr
      div
        h2= indvBirdData.nombreAve   
      div     
        h4= indvBirdData.especie
      h4 Datos de entrada
      div
        p= "Fecha de entrada: " + indvBirdData.fechaentrada
      div
        p= "Modo: " +indvBirdData.modo
      div
        p= "Localidad de recogida: " +indvBirdData.localidad
      div
        p= "Peso de entrada: " + indvBirdData.pesoentrada + " gr." 
      div
        p Peso máximo: gr.
      form(action="/birdrelease" method="post")
        h4 Datos de liberacion
        label(for="fechaLiberacion") Fecha de liberacion:
        input#fechaLiberacion(type="date" name="fechaliberacion" required)
        label(for="pesoLiberacion") Peso de liberación:
        input#pesoLiberacion(type="text" name="pesoLiberacion")
        label(for="localidadLibe") Localidad de procedencia:
        input#localidadLibe(type="text" name="localidad")
        label(for="CdAnilla") Anillado, CD Anilla:
        input#CdAnilla(type="text" name="CdAnilla")
        p Al guardar este pajarillo se añadirá de forma automática a tus registros que podrás gestionar en el apartado de GESTIONAR GUARDADOS
        .flex
          button#descartar Descartar
            i.fa.fa-trash
          button#guardar(type="submit") Guardar
            i.fa.fa-save 


  //- Modal Delete user     
  #deleteModal.modal.invisible
    .modal-content
      .flex.headm
        h6 ¡Atención!
        span#closeButton.close &times;
      hr
      h5 ¿Esta seguro que desea borrar su cuenta?
      hr
      .flex.buttonsm
        button#noButton No
        form(action="/deleteuser" method="post")
          button(type="submit") Borrar
            i.fa.fa-trash 


  //- Modal Añadir pesos Pajaro
  #addWeightModal.modal.modal2.invisible
    .modal-content
      .flex.headm
        h6= "Tabla de pesos de " + indvBirdData.nombreAve

        span#cbModalBird.close &times;
      .flex.initialWeight
        div
          p Peso de entrada
            span= indvBirdData.fechaentrada
        .box
          p= indvBirdData.pesoentrada
      each birdweigth in indvBirdData.pesos ? indvBirdData.pesos : [] 
        .flex
          .newWeight
            p= birdweigth
      .flex
        form(action="/addneweight" method="post")
          input(type="hidden" value=indvBirdData.id name="birdId")
          .flex
            div
              label(for="date") Fecha peso:
              br
              input#date(type="date" name="date")
            div
              label(for="neweigth") Nuevo peso:
              br
              input#neweigth(type="text" name="neweigth" placeholder="gr.")
              button(type="submit") Añadir

include components/scripts.pug
